.navContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  .navRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media (max-width: 30em) {
      .desktopMenu {
        display: none;
      }
    }

    nav {
      ul {
        display: flex;
        list-style-type: none;
        flex-direction: row;
        padding: 0;

        li {
          margin: 0 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            color: #300076;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.56px;
            width: 100%;
            text-align: center;
          }
          &:hover {
            cursor: pointer;
          }

          &:active {
            transform: translateY(2px);
          }
        }
        .primaryBtn {
          background: #ffe6e2;
          height: 40px;
          width: 120px;
        }

        .secondaryBtn {
          background-color: #592cba;
          padding: 0 30px;

          a {
            color: #ffe6e2;
          }
        }
      }
    }

    button {
      font-size: 100%;
      font-family: inherit;
      border: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover,
      &:focus {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.89);
      }

      @media (min-width: 30em) {
        display: none;
      }
    }
  }
}
