.parentContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 1100px;

  .listContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    list-style-type: none;
    padding: 0 0 5px 0;
    width: 100%;
    -webkit-box-shadow: 0 4px 2px -2px hsla(0, 0%, 52%, 0.15);
    -moz-box-shadow: 0 4px 2px -2px hsla(0, 0%, 52%, 0.15);
    box-shadow: 0 4px 2px -2px hsla(0, 0%, 52%, 0.15);

    li {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 40px;
      margin: 5px 0;

      a {
        color: #300076;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.56px;
        line-height: 40px;
        width: 100%;
        text-align: center;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        transform: translateY(2px);
      }
    }

    .primaryBtn {
      width: 100%;
      background: #ffe6e2;
    }

    .secondaryBtn {
      width: 100%;
      background-color: #592cba;

      a {
        color: #ffe6e2;
      }
    }
  }
}
