@media (min-width: 480px) {
  .featuresContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .contentContainer {
      margin: 40px 20px;

      h1,
      p {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0 0 10px 0;
      }

      h1 {
        color: #300076;
        font-size: 28px;
      }

      p {
        color: rgba(48, 0, 118, 0.7);
        font-size: 16px;
        margin: 0 0 20px 0;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;

        li {
          background-color: #fff;
          margin: 20px;
          flex: 1 0 30%;
          padding: 40px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;

          h1,
          p {
            text-align: left;
            margin-bottom: 10px;
            padding: 0;
          }
          h1 {
            font-size: 22px;
            color: #300076;
          }

          p {
            font-size: 14px;
            color: rgba(48, 0, 118, 0.7);
          }
          img {
            margin-bottom: 10px;
            height: 32px;
            width: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .featuresContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .contentContainer {
      margin: 40px 20px;

      h1,
      p {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0 0 10px 0;
      }

      h1 {
        color: #300076;
        font-size: 28px;
      }

      p {
        color: rgba(48, 0, 118, 0.7);
        font-size: 16px;
        margin: 0 0 20px 0;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          background-color: #fff;
          padding: 40px;
          margin: 20px 0;
          height: 250px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          overflow: hidden;

          h1,
          p {
            text-align: left;
            margin-bottom: 10px;
            padding: 0;
          }
          h1 {
            font-size: 22px;
            color: #300076;
          }

          p {
            font-size: 14px;
            width: 100%;
            color: rgba(48, 0, 118, 0.7);
          }
          img {
            margin-bottom: 10px;
            height: 36px;
            width: auto;
          }
        }
      }
    }
  }
}
