@media (min-width: 480px) {
  .contentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .posContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin: 2rem 20px 0 20px;
    width: calc(50% - 40px);

    h1 {
      color: #592cba;
      text-align: center;
      font-size: 32px;
      margin: 0;
    }
    p {
      color: #aaaaaa;
      text-align: center;
      margin-bottom: 2rem;
    }

    .inputContainer {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.5rem;

      label {
        color: #592cba;
        font-weight: bold;
        letter-spacing: 0.56px;
        margin-bottom: 1rem;
        font-size: 16px;
      }

      input {
        border: none;
        background-image: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: #e2e6ff;
        height: 40px;
        padding: 10px;
        margin-bottom: 1rem;
        color: #300076;
        width: 100%;
        &::placeholder {
          color: #300076;
        }
      }
    }
    .checkBoxContainer {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      width: 100%;
      margin: 0.5rem 0;

      .textSpan {
        font-size: 14px;
        margin-left: 10px;
        color: #300076;
        a {
          text-decoration: underline;
          &:hover,
          &:focus {
            cursor: pointer;
          }

          &:active {
            transform: scale(0.99);
          }
        }
      }
    }

    button {
      margin: 2rem 0;
      width: 100%;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      color: #fbf6f2;
      font-weight: 700;
      font-size: 16px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.56px;
      width: 100%;
      text-align: center;
      background-color: #592cba;

      &:hover,
      &:focus {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.99);
      }
    }

    .loginSpan {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #300076;
      margin-bottom: 2rem;
      padding: 10px;
      background: #cae1e7;
      a {
        text-decoration: underline;
        &:hover,
        &:focus {
          cursor: pointer;
        }

        &:active {
          transform: scale(0.99);
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .posContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 20px 0 20px;
    width: calc(100% - 40px);

    h1 {
      color: #592cba;
      text-align: center;
      font-size: 32px;
      margin: 0;
    }
    p {
      color: #aaaaaa;
      text-align: center;
      margin-bottom: 2rem;
    }

    .inputContainer {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.5rem;

      label {
        color: #592cba;
        font-weight: bold;
        letter-spacing: 0.56px;
        margin-bottom: 1rem;
        font-size: 16px;
      }

      input {
        border: none;
        background-image: none;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: #e2e6ff;
        height: 40px;
        padding: 10px;
        color: #300076;
        width: 100%;
        &::placeholder {
          color: #300076;
        }
      }
    }
    .checkBoxContainer {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: row;
      width: 100%;
      margin: 0.5rem 0;

      .textSpan {
        font-size: 14px;
        margin-left: 10px;
        color: #300076;
        a {
          text-decoration: underline;
          &:hover,
          &:focus {
            cursor: pointer;
          }

          &:active {
            transform: scale(0.99);
          }
        }
      }
    }

    button {
      margin: 2rem 0;
      width: 100%;
      background: none;
      color: inherit;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
      color: #fbf6f2;
      font-weight: 700;
      font-size: 16px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.56px;
      width: 100%;
      text-align: center;
      background-color: #592cba;

      &:hover,
      &:focus {
        cursor: pointer;
      }

      &:active {
        transform: scale(0.99);
      }
    }

    .loginSpan {
      width: 100%;
      text-align: center;
      font-size: 14px;
      color: #300076;
      margin-bottom: 2rem;
      padding: 10px;
      background: #cae1e7;
      a {
        text-decoration: underline;
        &:hover,
        &:focus {
          cursor: pointer;
        }

        &:active {
          transform: scale(0.99);
        }
      }
    }
  }
}
